.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.*
configure
libtool
m4/
*.la
*.lo
*.o
*.deps
*.dirstamp
stamp-*

# Test binary until we have the main solus.so
/dummy-test

# Theme resources
/theme-resources.c
/theme-resources.h
node_modules

# Glade deposits these around the place..
*.ui~
